@import "../css/grid.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

$phone-portrait:320px;
$phone-landscape:568px;
$tablet-portrait:768px;
$tablet-landscape:1024px;

 * {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    top:20px;
}
body{
    
    -webkit-text-size-adjust:100%;
}
header {
    position: relative;
    width: 100%;
    z-index:4;
}
section {
    margin-top: 10px;
    
    &:first-child{
        margin-top:0;
    }
}
a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);  
}
.logo {
    position: relative;
    
    img{
       margin: 10px 15% 10px; 
    }
}
.transparency {
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
}
.page_wrapper {
    position: relative;
    background-color:rgb(145, 155, 80);
    border-top-left-radius: 300px;
    padding:0px 15px 45px;
    margin-top:20px;
    z-index:2;
}
.page_wrapper:after,
.transparency:after,
section:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}
.section_img {
    position: relative;
    margin-bottom: 20px;
}
.section_info {
    position: relative;
    padding-top:10px;
    color:white;
}
/* Sketchy Box */

$box-size-width:300px;
$box-size-height:170px;
$sketchy-border-style:3px double #ccc;
@mixin sketchy-rotation($degrees) {
    -webkit-transform: rotate($degrees + deg);
    -moz-transform: rotate($degrees + deg);
}
.box {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin:0 10px;
    width:$box-size-width;
    height:$box-size-height;
    z-index:10;
    
    @media screen and (min-width: $phone-landscape) {
        width:$box-size-width + 115px;
        height:$box-size-height + 115px;
    }
    .content {
        top: 6px;
        left: 2px;
        width: $box-size-width - 14px;
        height: $box-size-height - 20px;
        
        @media screen and (min-width: $phone-landscape) {
            width:$box-size-width + 115px - 14px;
            height:$box-size-height + 115px - 20px;
        }
        overflow: hidden;
        @include sketchy-rotation(-1);
    }
}
.sketchy:before {
    position: absolute;
    top: 3px;
    left: 3px;
    width: $box-size-width - 12px;
    height: $box-size-height - 4px;
    
    @media screen and (min-width: $phone-landscape) {
        width:$box-size-width + 115px - 12px;
        height:$box-size-height + 115px - 4px;
    }
    border-left: $sketchy-border-style;
    border-right: $sketchy-border-style;
    @include sketchy-rotation(-1);
    content: "";
}
.sketchy:after {
    position: absolute;
    top: 8px;
    left: 1px;
    width: $box-size-width - 2px;
    height: $box-size-height - 20px;
    
    @media screen and (min-width: $phone-landscape) {
        width:$box-size-width + 115px - 2px;
        height:$box-size-height + 115px - 20px;
    }
    border-top: $sketchy-border-style;
    border-bottom: $sketchy-border-style;
    @include sketchy-rotation(-1);
    content: "";
}
.tabbar{
    position:fixed;
    background-color:rgba(255, 255, 255, .8);
    color:rgb(115, 124, 63);
    width:100%;
    height:49px;
    bottom:0;
    z-index:4;
    
    .blur{
        position:absolute;
        background-color:rgba(145, 155, 80, .7);
        top:0;
        left:0;
        width:100%;
        height:100%;
        filter:blur(-10px);
        -webkit-filter:blur(-10px);
    }
}
.tabitem{
    position:relative;
    display:inline-block;
    cursor:pointer;
    float:left;
    width:20%;
    z-index:5;
    
    &.active{
        color:rgb(34, 62, 78);
    }
    
    .icon{
        padding-top:5px;
        text-align:center;
        height:30px;
    }
    .label{
        font-size:12px;
        width:100%;
        text-align:center;
    }
}
footer {
    position:relative;
    width: 100%;
    color: #141c5f;
    font-size: 12px;
    text-align: center;
}
.facebook {
    position: absolute;
    left: 5%;
}
.twitter {
    position: absolute;
    right: 5%;
}
.width80 {
    position: relative;
    width: 80%;
}
.indent-5{
    text-indent: 5px;
}
.indent-20{
    text-indent: 20px;
}